/*
  CSS Reset
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/*
  Colors
*/

:root {
  --black: #323141;
  --light-gray: #fdfeff;
  --blue: #ab96f3;
  --dark-blue: #947de0;
  --blue-transparency: #ad94ff60;
}

/*
  Body
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--light-gray);
}

/*
  Nav bar
*/

nav {
  display: flex;
  width: 100%;
  padding: 2rem 10vw;
  align-items: center;
  justify-content: space-between;
}

a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.logo {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
}

.logo:hover {
  text-decoration: none;
}

/*
  Recipe selector
*/

.recipe-selector {
  border: solid 2px var(--blue);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-right: 3rem;
}

label {
  display: none;
}

select {
  font-size: 1.1rem;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  background-color: transparent;
  margin-right: 3rem;
}

select:focus,
select:active {
  border: none;
  outline: none;
}

.recipe-button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--dark-blue);
  padding: 0.7rem 1.8rem;
  border-style: none;
  border-radius: 0.5rem;
}

.recipe-button:hover {
  background-color: var(--blue);
  box-shadow: 2px 2px 10px var(--blue-transparency),
    15px 15px 30px var(--blue-transparency);
}

/*
  Recipe Header section
*/

header {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  padding: 3rem 10vw;
}

img {
  width: 320px;
  height: 400px;
  object-fit: cover;
}

.recipe-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

/*
  Recipe details
*/

.recipe-details {
  display: flex;
  margin-top: 1.5rem;
}

.recipe-details > p {
  padding: 0.3rem 1rem;
}

.recipe-details > p:first-of-type {
  border: solid 1px var(--dark-blue);
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.recipe-details > p > span {
  font-weight: bold;
}

/*
  Nutrition details
*/

.nutrition-details {
  display: flex;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.nutrition-details > span {
  margin-right: 1rem;
  border: none;
  border-radius: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 5.8rem;
  padding-bottom: 0.8rem;
  background: linear-gradient(35deg, #88b6d898, #8f99b941);
  color: white;
  box-shadow: 10px 10px 20px #5292ff37;
}

.nutrition-details > span > p {
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 0.4rem;
  background-color: white;
  color: var(--black);
}

/*
  Ingredients and Instructions section
*/

.ingredients-instructions-container {
  display: flex;
  padding: 3rem 10vw;
}

.ingredients,
.instructions {
  line-height: 1.7rem;
  font-size: 1.05rem;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.ingredients {
  min-width: 380px;
}
.instructions {
  margin-left: 4rem;
}

.ingredients > ul {
  margin-left: 1rem;
  margin-top: 1.5rem;
  list-style: none;
}

.ingredients > ul > li {
  margin-top: 0.8rem;
  position: relative;
}

.ingredients > ul > li::before {
  position: absolute;
  content: "• ";
  color: var(--dark-blue);
  font-size: 2.8rem;
  left: -1.2rem;
  top: -0.25rem;
}

.instructions > ol {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.instructions > ol > li {
  margin-top: 0.9rem;
  position: relative;
  padding-left: 0.8rem;
}

.instructions > ol > li::before {
  position: absolute;
  content: "• ";
  color: var(--blue-transparency);
  font-size: 11rem;
  left: -2.4rem;
  top: -0.95rem;
  z-index: -1;
}

/*
  About section
*/

#about {
  display: flex;
  padding: 1rem 10vw;
  padding-bottom: 4rem;
  align-items: center;
}

.about-section {
  max-width: 40vw;
  margin-right: 4rem;
}

.about-section > h2 {
  font-size: 3.3rem;
}

.about-section > p {
  line-height: 1.7rem;
  font-size: 1.05rem;
  margin-top: 1rem;
}

/*
  Arrow up
*/

.arrow {
  margin-bottom: 3rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow > img {
  width: 25px;
  height: auto;
}

/* body {
  background-color: #f4f1ed;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 10px 60px;
}

.logo {
  margin-right: auto;
  height: 33px;
}

.icon {
  width: 32px;
}

.invisible {
  display: none;
}
main {
  background-color: #f8f6f3;
  border-radius: 15px;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 60px;
  margin-top: 18px;
  min-width: 800px;
  max-width: 1200px;
}

h1 {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #112d3c;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  color: #112d3c;
}

.recipe {
  display: flex;
  padding-top: 50px;
}


#recipe-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 120px;
  margin-top: 20px;
}

.ingredients {
  width: 350px;
  min-width: 200px;
  margin-right: auto;
  margin-top: 30px;
}

.instructions {
  width: 450px;
  min-width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}

p,
ul {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

ul {
  padding-left: 10px;
}

ol {
  padding-left: 15px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 6px 12px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #e77745;
  font-weight: 600;
  font-size: 12px;
}

button:hover {
  background-color: #e77745;
}

.active {
  background-color: #ec8659;
}

.recipe-button {
  margin-top: 22px;
  padding: 6px 12px;
  border-style: none;
  background-color: #112d3c;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.recipe-button:hover {
  background-color: #1a445a;
  margin-top: 21px;
  padding: 6px 13px;
}

@media (max-width: 700px) {
  body {
    background-color: #f8f6f3;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  main {
    margin: auto;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .recipe {
    flex-direction: column;
    max-width: 420px;
    align-items: center;
  }
  h1 {
    padding: 0;
    font-size: 28px;
  }
  p {
    padding-left: 0px;
  }
  .instructions {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  main {
    max-width: 90vw;
    padding: 8px;
  }

  #recipe-image {
    margin-right: 0px;
  }

  .recipe {
    max-width: 90vw;
  }

  h1 {
    font-size: 18px;
  }
  .ingredients {
    min-width: 90vw;
    width: 90vw;
  }
  .instructions {
    min-width: 90vw;
    width: 90vw;
  }
  h2 {
    text-align: center;
    font-size: 14px;
  }
  p,
  ul {
    font-size: 12px;
  }
}
 */
