/*
  CSS Reset
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/*
  Colors
*/

:root {
  --black: #323141;
  --light-gray: #fdfeff;
  --blue: #ab96f3;
  --dark-blue: #947de0;
  --blue-transparency: #ad94ff60;
}

/*
  Body
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--light-gray);
}

/*
  Nav bar
*/

nav {
  display: flex;
  width: 100%;
  padding: 3rem 5vw;
  max-width: 1350px;
  align-items: center;
  justify-content: space-between;
}

a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.logo {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
}

.logo:hover {
  text-decoration: none;
}

/*
  Recipe selector
*/

.recipe-selector {
  border: solid 2px var(--blue);
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-right: 3rem;
}

label {
  display: none;
}

select {
  font-size: 1.1rem;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  background-color: transparent;
  margin-right: 3rem;
}

select:focus,
select:active {
  border: none;
  outline: none;
}

.recipe-button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--dark-blue);
  padding: 0.7rem 1.8rem;
  border-style: none;
  border-radius: 0.5rem;
}

.recipe-button:hover {
  background-color: var(--blue);
  box-shadow: 2px 2px 10px var(--blue-transparency),
    15px 15px 30px var(--blue-transparency);
}

/*
  Recipe Header section
*/

header {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  padding: 3rem 5vw;
  max-width: 1350px;
}

img {
  width: 320px;
  height: 400px;
  object-fit: cover;
  animation: fadeImage 1.6s;
}

@keyframes fadeImage {
  0% {
    opacity: 0;
    scale: 102%;
  }
  100% {
    opacity: 1;
    scale: auto;
  }
}

.recipe-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  animation: fadeTitle 1.5s;
}

@keyframes fadeTitle {
  0% {
    opacity: 0;
    margin-left: 10px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

/*
  Recipe details
*/

.recipe-details {
  display: flex;
  margin-top: 1.5rem;
}

.recipe-details > p {
  padding: 0.3rem 1rem;
}

.recipe-details > p:first-of-type {
  border: solid 1px var(--dark-blue);
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.recipe-details > p > span {
  font-weight: bold;
}

/*
  Nutrition details
*/

.nutrition-details {
  display: flex;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  animation: fadeNutrition 2s;
}

@keyframes fadeNutrition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nutrition-details > span {
  margin-right: 1rem;
  border: none;
  border-radius: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 5.8rem;
  padding-bottom: 0.8rem;
  background: linear-gradient(35deg, #88b6d898, #8f99b941);
  color: white;
  box-shadow: 10px 10px 20px #5292ff37;
}

.nutrition-details > span > p {
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 0.4rem;
  background-color: white;
  color: var(--black);
}

/*
  Ingredients and Instructions section
*/

.ingredients-instructions-container {
  display: flex;
  padding: 3rem 5vw;
  max-width: 1350px;
}

#instructions,
#ingredients {
  animation: fadeInstructions 2s;
}

@keyframes fadeInstructions {
  0% {
    opacity: 0;
    margin-top: 10px;
  }
  30% {
    opacity: 0;
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.ingredients,
.instructions {
  line-height: 1.7rem;
  font-size: 1rem;
}

h2 {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.ingredients {
  min-width: 380px;
}
.instructions {
  margin-left: 4rem;
}

.ingredients > ul {
  margin-left: 1rem;
  margin-top: 1.5rem;
  list-style: none;
}

.ingredients > ul > li {
  margin-top: 0.8rem;
  position: relative;
}

.ingredients > ul > li::before {
  position: absolute;
  content: "• ";
  color: var(--dark-blue);
  font-size: 2.8rem;
  left: -1.2rem;
  top: -0.25rem;
}

.instructions > ol {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.instructions > ol > li {
  margin-top: 0.9rem;
  position: relative;
  padding-left: 0.8rem;
}

.instructions > ol > li::before {
  position: absolute;
  content: "• ";
  color: var(--blue-transparency);
  font-size: 11rem;
  left: -2.4rem;
  top: -0.95rem;
  z-index: -1;
}

/*
  About section
*/

#about {
  display: flex;
  padding: 1rem 10vw;
  padding-bottom: 4rem;
  align-items: center;
}

.about-section {
  max-width: 40vw;
  margin-right: 4rem;
  animation: fadeAbout 2.5s;
}

@keyframes fadeAbout {
  0% {
    opacity: 0;
    margin-right: 5rem;
  }
  30% {
    opacity: 0;
    margin-right: 5rem;
  }
  100% {
    opacity: 1;
    margin-right: 4rem;
  }
}

.about-section > h2 {
  font-size: 3.3rem;
}

.about-section > p {
  line-height: 1.7rem;
  font-size: 1rem;
  margin-top: 1rem;
}

#about > img {
  width: 320px;
  height: auto;
}

/*
  Arrow up
*/

.arrow {
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 3s;
}

.arrow > img {
  width: 25px;
  height: auto;
  margin: 0;
}

/*
  Footer
*/

footer {
  padding: 3rem;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer > p {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

footer > p > a {
  margin-left: 0.5rem;
}

footer > p > a:first-of-type {
  margin-right: 4rem;
  color: var(--dark-blue);
}

footer > p > a:first-of-type:hover {
  text-decoration: none;
}

footer > p > a > img {
  width: 40px;
  height: auto;
  margin: 0;
}

/*
  Display
*/

.hidden {
  display: none;
}

/*
  Media 920px
*/

@media (max-width: 920px) {
  /*
  Header
  */

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
  }

  h1 {
    font-size: 2rem;
  }

  .recipe-title-container {
    margin: 0;
  }

  img {
    margin-bottom: 3rem;
  }

  /*
  Ingredients and Instructions
  */

  .ingredients-instructions-container {
    flex-direction: column;
  }

  .ingredients {
    margin-bottom: 3rem;
  }

  .instructions {
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  /*
  About
  */

  #about {
    flex-direction: column-reverse;
  }

  .about-section {
    margin: 0;
    max-width: 85vw;
  }
}

@media (max-width: 640px) {
  /*
  Nav
  */

  nav {
    justify-content: center;
  }

  nav > a {
    display: none;
  }

  .recipe-selector {
    margin-right: 0;
  }

  .nutrition-details {
    display: none;
  }
}
